<div class="home">

  <div class="banner">
    <img src="assets/images/banner1.png" class="pc" alt="">
    <img src="assets/images/banner2.png" class="phone" alt="">

    <div class="ctas">
      <div class="cta">
        <button class="primary" (click)="goto('home/request/nurse')">Request for a Nurse</button>
      </div>
      <div class="cta">
        <button class="secondary" (click)="goto('home/request/carer')">Request for a Carer</button>
      </div>
    </div>
  </div>



  <div class="section">

    <h1 class="main-heading">
      MISSION <span>STATEMENT.</span>
    </h1>
    <p>
      • Assisting those in need of care to live as comfortably and as securely as possible.
      • Actively encouraging the independence of all customers.
      • Providing the highest standards of care at all times.
      • Maintaining highly competitive and sensible fees.
      • Delivering professional and compassionate high quality person centred care services to customers.
      • Delivering services within safe suitable and beneficial environments.
      • Fostering a positive working environment that attracts, develops and retains, highly committed, motivated
      personnel.
      • Operating consistently on the basis of honesty, fairness and transparency for the mutual benefit of our
      customers, staff and stakeholders.
      • Aiming to be a leading independent provider of healthcare services in London and South East.

    </p>


    <p>
      Our Ethos and Values
      • To focus on clients by providing person centred care to meet the needs of all clients.
      • To provide personal care and support in a way which have positive outcomes for clients and promote their active
      participation.
      • To promote dignity, respect and offer choice.
      • To ensure we are fit for our purpose.
      To see to ensure that the core principles of good care are fundamental to NMC Code of conduct : standards of
      conduct, performance and ethics for nurses and midwives (2008) states that a nurse has a duty of care at all times
      and people must be able to trust them with their lives and health. To justify that trust, they must:
      • Make the care or people their first concern, treating them as individuals and respecting their dignity.
      • Work with other to protect and promote the health and wellbeing of those in their care
      • Provide a high standard of practice and care at all times
      • Be open and honest, act with integrity and uphold the reputation of their profession

    </p>


  </div>
  <app-slides></app-slides>

  <div class="down">
    <button class="primary" (click)="goto('home/request/nurse')">Request for a Nurse</button>
    <button class="secondary" (click)="goto('home/request/carer')">Request for a Carer</button>

  </div>
</div>
